@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background: #213555;
    width: 100%;
    height: 85px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.logo-header {
    display: inline;
}

.logo-header img {
    width: 90px;
}

.logo-header h2 {
    margin-left: 10px;
    font-size: 2.4rem;
    color: #F0F0F0;
    text-transform: uppercase;
}

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header li {
    margin: 0 15px;
    font-size: 1.63rem;
}

.navbar-header li a {
    color: #F0F0F0;
    transition: 0.4s;
}

.navbar-header li a:hover {
    color: #E6DBCD;
}

.social-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-header li {
    margin: 0 10px;
    font-size: 1.8rem;
}

.fa-brands {
    color: #F0F0F0;
    transition: 0.4s;
}

.fa-brands:hover {
    color: #E6DBCD;
}

.navbar-header li, 
.social-header li {
    display: inline;
}

