@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../img/bg-body.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background-color: #49494921;
    backdrop-filter: blur(25px);
    width: 100%;
    height: 120px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
}

.header ul {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.logo-header {
    display: inline;
}

.logo-header img {
    width: 90px;
}

.logo-header h2 {
    margin-left: 10px;
    font-size: 2.4rem;
    color: #F0F0F0;
    text-transform: uppercase;
}

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header li {
    margin: 0 15px;
    font-size: 1.63rem;
}

.navbar-header li a {
    color: #F0F0F0;
    transition: 0.4s;
}

.navbar-header li a:hover {
    color: #E6DBCD;
}

.social-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-header li {
    margin: 0 10px;
    font-size: 1.8rem;
}

.fa-brands {
    color: #F0F0F0;
    transition: 0.4s;
}

.fa-brands:hover {
    color: #E6DBCD;
}

.navbar-header li, 
.social-header li {
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduccion {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
}

#mailBtn {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 1.6rem;
    background: #333;
    color: white;
}

#mailBtn .mailIco {
    transition: 0.3s;
    display: none;
}

#mailBtn .mailTxt {
    transition: 0.3s;
}

#mailBtn:hover .mailIco {
    display: block;
}

#mailBtn:hover .mailTxt {
    display: none;
}