@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    list-style: none;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #ffffffa5;
    --border-color: #000000;
    --hover-shadow: rgba(0, 0, 0, 0.4);
    --transition: 0.3s ease-in-out;
    --scrollbar-track: #252525;
    --scrollbar-thumb: #c3c3c3;
}

::selection {
    background: var(--text-color);
    color: var(--bg-color);
}

.darkmode {
    --bg-color: #000000;
    --text-color: #ffffff;
    --header-bg: #000000a5;
    --border-color: #ffffff;
    --hover-shadow: rgba(255, 255, 255, 0.6);
    --scrollbar-track: #dadada;
    --scrollbar-thumb: #3c3c3c;
}

body {
    background: var(--bg-color);
}

.header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    display: flex;
    border-radius: 3rem;
    z-index: 1000;
}

.nav-container, .theme-container {
    background: var(--header-bg);
    backdrop-filter: blur(10px);
    border: 2px solid var(--border-color);
    border-radius: 3rem;
    padding: 0.75rem 1.75rem;
	display: flex;
	align-items: center;
}

.nav-container {
    gap: 3rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--transition);
}

.logo:hover {
    text-shadow: 0 0 5px var(--text-color),
        0 0 10px var(--text-color),
        0 0 20px var(--text-color);
    transform: scale(1.1);
}

.nav-menu {
    display: flex;
    gap: 1.3rem;
}

.nav-menu a {
    color: var(--text-color);
    font-size: 1.15rem;
    position: relative;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.35px;
    background: var(--text-color);
    bottom: -2.5px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
    border-radius: 3rem;
}

.nav-menu a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 1.65rem;
    display: none;
    cursor: pointer;
    color: var(--text-color);
}

.theme-container {
	padding: 0.75rem;
}

#theme-switch {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    color: var(--text-color);
    width: 100%;
    height: 100%;
}

#theme-switch:active {
    transform: scale(0.9);
}

#theme-switch svg {
    fill: var(--text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

section {
    /*min-height: 100vh;*/
    padding: 10rem 3.5rem;
    width: 100%;
}

.acerca-de {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
}

.acerca-de .about-container,
.acerca-de .about-information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.image-div img {
    width: 30vw;
    border-radius: 0.4rem;
    box-shadow: 0 0 20px var(--border-color);
    box-shadow: 0 0 20px var(--hover-shadow);
}

.image-div p { 
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
}

.info-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-div h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: end;
    color: var(--text-color);
}

.info-div p {
    font-size: 1.8rem;
    text-align: end;
    color: var(--text-color);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobre-mi .about-information {
    display: grid;
    padding: 2rem 4rem;
    grid-template-columns: 1fr 2fr;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.about-information h3 {
    color: var(--text-color);
    font-size: 2.5rem;
}

.about-information p {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: justify;
}

.about-information-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.footer {
    display: flex;
    width: 100%;
    padding: 3rem;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid var(--border-color);
}

.footer p {
    color: var(--text-color);
    font-size: 1.25rem;
    text-transform: lowercase;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons a {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
    padding: 0.65rem;
    background: transparent;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    transition: var(--transition);
}

.social-icons a:hover{
    background: var(--text-color);
    color: var(--bg-color);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px var(--hover-shadow);
}

@media(max-width: 768px) {
    .header {
        width: 95%;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav-container {
        flex: 1;
        justify-content: space-between;
        padding: 0.75rem 1.25rem;
    }

    #menu-icon {
        display: block;
        color: var(--text-color);
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        left: 0;
        width: 100%;
        background: var(--header-bg);
        backdrop-filter: blur(14px);
        border: 2px solid var(--border-color);
        border-radius: 2rem;
        flex-direction: column;
        padding: 2rem;
        display: none;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .footer {
        flex-direction: column;
        gap: 2.5rem;
    }

    .footer p {
        font-size: 1.15rem;
    }
}

/* Scrollbar completa */
::-webkit-scrollbar {
    width: 20px;
}

/* Fondo */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar-thumb);
}